<div class="form-group col-6 m-4" style="background-color: darkcyan;" id='form_modificar'>
    <div class="form-inline align-content-center col-12 py-2 pt-4">
        <div class="input-group col-12">
            <div class="input-group-pretend">
                <div class="input-group-text">
                    <i class="fa fa-palette p-1" aria-hidden="true"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Color" id="agregar_color">
        </div>
    </div>
    <div class="form-inline align-content-center col-12 py-2">
        <div class="input-group col-12">
            <div class="input-group-pretend">
                <div class="input-group-text">
                    <i class="fa fa-stamp p-1" aria-hidden="true"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Tipo" id="agregar_tipo">
        </div>
    </div>
    <div class="form-inline align-content-center col-12 py-2">
        <div class="input-group col-12">
            <div class="input-group-pretend">
                <div class="input-group-text">
                    <i class="fa fa-dollar-sign p-1 pr-2" aria-hidden="true"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Precio" id="agregar_precio">
        </div>
    </div>
    <div class="form-inline aling-content-center col-12 py-2 pb-4">
        <button type="button" class="btn btn-success col-5 ml-3" onclick="SegundoParcial.Principal.AgregarItem()">Agregar</button>
        <button type="button" class="btn btn-warning col-5 offset-1" onclick="SegundoParcial.Principal.LimpiarForm()">Limpiar</button>
    </div>
</div>