<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./public/depend/bootstrap-4.5.0-dist/css/bootstrap.min.css">    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="./public/Controller/JS/controller.js"></script>
    <!--<script src="./public/Model/JS/login.js"></script>
    <script src="./public/Model/JS/registro.js"></script>-->

    <!------------------MINS----------------->
    <script src="./public/depend/bootstrap-4.5.0-dist/jquery-3.5.1.min.js"></script>    
    <script src="./public/depend/bootstrap-4.5.0-dist/popper.min.js"></script>
    <script src="./public/depend/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <!-----------------/MINS----------------->

    <!---------------CSS PROPIO--------------->
    <link rel="stylesheet" href="./public/View/css/custom.css">

    <title>Mockup SPL</title>

</head>
<body class="container-fluid col-12" id="page_body" onload="SegundoParcial.Controller.InitialLoad()">


    
</body>